<footer class="footer container">
  <a href="./index.html" class="header-logo inverse">energy.flow</a>
  <load ="/partials/social-links.html" />

  <p class="footer-slogan">
    Transforming your <span class="footer-slogan-span">body</span> shape with us
  </p>

  <p class="footer-form-label">Subscribe and learn about new exercises!</p>
  <form class="js-footer-form">
    <input
      class="footer-form-input"
      type="email"
      name="email"
      placeholder="Email"
      required
    />

    <button class="footer-form-button" type="submit">Send</button>
  </form>
  <p class="footer-text">Energy Flow. All rights reserved.</p>
  <p class="footer-text-second">Privacy Policy / Terms of Service</p>
</footer>
