<div class="header-backdrop is-hidden">
  <div class="container header-modal">
    <div class="modal-position">
      <a href="./index.html" class="header-logo inverse">energy.flow</a>
      <button type="button" class="js-close-modal">
        <svg width="20" height="20">
          <use href="/img/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <div class="header-modal-menu">
      <a href="./index.html" class="header-modal-menu-btn active">Home</a>
      <a href="./index.html" class="header-modal-menu-btn">Favorites</a>
    </div>
    <!-- <a href="./favorites.html" class="header-modal-menu-btn">Favorites</a> -->

    <load ="/partials/social-links.html" />
    <!-- <load ="../favorites.html" /> -->
  </div>
</div>
