<header class="page-header">
  <h2>BBBBBBBBBBbbbbbb</h2>
  <div class="container">
    <div class="header-position">
      <nav class="header-nav">
        <a href="./index.html" class="header-logo">energy.flow</a>
        <button class="js-open-modal" type="button">
          <svg width="32" height="16" aria-label="switch of mobile menu">
            <use href="/img/symbol-defs.svg#icon-header-menu-icon"></use>
          </svg>
        </button>
      </nav>
      <div class="header-box">
        <p class="header-box-text">#Sport</p>
        <p class="header-box-text">#Healthy</p>
        <p class="header-box-text">#Workout</p>
        <p class="header-box-text">#Diet</p>
      </div>
    </div>
  </div>

  <!-- <load ="/partials/header-modal.html" /> -->
</header>
