<div class="min110-img container"></div>

<div class="min110 container">
  <div class="min110-design">
    <svg class="min110-icon" width="20" height="20">
      <use href="/img/symbol-defs.svg#icon-fluent"></use>
    </svg>
    <h2 class="min110-title">110 min</h2>
  </div>
  <p class="min110-text-first">Daily norm of sports</p>
  <p class="min110-text-second">
    The World Health Organization recommends at least 150 minutes of
    moderate-intensity aerobic physical activity throughout the week for adults
    aged 18-64. However, what happens if we adjust that number to 110 minutes
    every day?
  </p>
</div>
