<div class="quote-design container">
  <div class="quote-box">
    <div class="quote-box-box">
      <svg class="icon" width="34" height="32" aria-label="running man">
        <use href="/img/symbol-defs.svg#icon-icon"></use>
      </svg>
      <h2 class="quote-title">Quote of the day</h2>
    </div>
    <svg class="icon" width="28" height="28" aria-label="inverted-commas">
      <use href="/img/symbol-defs.svg#icon-inverted-commas"></use>
    </svg>
  </div>
  <p class="quote-text"></p>
  <p class="quote-author"></p>
</div>
