.header-nav {
  margin-bottom: 20px;
}

.favorites-section {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #e8e8e8;
  border-radius: 30px;
}

.favorites-title {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b1b1b;
}
.second-item {
  margin-bottom: 20px;
}

.js-favorite-btn-delete {
  padding: 8px;
  font-family: inherit;
  color: #1b1b1b;
  font-size: 14px;
  line-height: 1.29;
  border: none;
  background: transparent;
}

/* .js-second-btn-modal {
  position: absolute;
  top: 4px;
  right: 10%;
} */

.js-favorite-list {
  padding: 0;
}

.min110-design-favorites {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 100px;
  border-radius: 30px;
  background: #fff;
}

.min110-icon-favorites {
  color: #1b1b1b;
  fill: #1b1b1b;
}

.min110-title {
  margin-bottom: 2px;
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.min110-text-favorites {
  /* margin-left: 40px; */
  /* margin-bottom: 14px; */
  color: rgb(175, 165, 165);
  /* color: #1b1b1b; */
  font-size: 14px;
  line-height: 1.29;
}

/* .id-button-delete-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #7e847f;
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  background-color: #7e847f;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.29;
  color: #f6f6f6;
}

.id-button-delete-favorites:hover {
  background-color: #5f6560;
  border: 1px solid #5f6560;
} */

.id-icon-delete {
  position: absolute;
  top: 11px;
  right: 20px;
  fill: #fff;
}
